.gaming-needs {
    $gaming: #{&};
    background: {
        image: url('../../../images/gaming-needs.jpg');
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    padding: 100px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($black, 0.6);
        z-index: -1;
    }

    @include media-breakpoint-down(lg) {
        padding: 50px 15px;
        background-image: url('../../../images/gaming-needs-mobile.jpeg');
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p, h3 {
            @include media-breakpoint-up(lg) {
                max-width: 710px;
            }
        }

        h3 {
            margin-bottom: 25px;
        }
    }

    &__grid {
        display: grid;
        grid-gap: 32px;
        margin: 55px 0 0;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            max-width: 1204px;
            margin: 50px auto 0;
        }

        &--item {
            display: flex;
            align-items: baseline;
            background-color: rgba($white, 0.15);
            border-radius: 20px;
            text-align: left;
            border: 1px solid rgba($white, 0.15);
            padding: 25px 15px;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.59) inset;
            backdrop-filter: blur(0px);

            @include media-breakpoint-down(md) {
                transition: border-color .4s ease,
                box-shadow .4s ease,
                backdrop-filter .4s ease,
                opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.3s,
                transform 1s cubic-bezier(0.5, 0, 0, 1) 0.3s;
            }

            @include media-breakpoint-up(lg) {
                padding: 35px;
            }

            @for $i from 1 through 4 {
                @include media-breakpoint-up(md) {
                    &:nth-child(#{$i}) {
                        transition: border-color .4s ease,
                        box-shadow .4s ease,
                        backdrop-filter .4s ease,
                        opacity 1s cubic-bezier(0.5, 0, 0, 1) calc(#{$i} * 0.18s),
                        transform 1s cubic-bezier(0.5, 0, 0, 1) calc(#{$i} * 0.18s);
                    }
                }
            }

            &:not(.in-view) {
                opacity: 0;

                &:nth-child(odd) {
                    transform: translateX(-70%);
                }

                &:nth-child(even) {
                    transform: translateX(70%);
                }
            }

            &:hover {
                border-color: rgba($primary, 0.7);
                box-shadow: 1px 1px 88px -22px rgba(0, 0, 0, 0.59) inset;
                backdrop-filter: blur(4px);
            }

            &.in-view {
                opacity: 1;
                transform: translateX(0);
            }

            img {
                margin-right: 25px;

                @include media-breakpoint-down(md) {
                    margin-right: 15px;
                }
            }

            h3 {
                margin-bottom: 15px;
            }
        }
    }
}