.news {
    &__wrapper {
        background-color: $black;
    }

    &__container {
        padding: 50px 20px;

        @include media-breakpoint-up(lg) {
            padding: 130px 60px;
        }
    }

    &__head {
        display: flex;
        width: 100%;
        margin-bottom: 65px;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }

        @include media-breakpoint-up(lg) {
            justify-content: space-between;
            align-items: flex-end;
        }

        & > div {
            @include media-breakpoint-down(lg) {
                margin-bottom: 20px;
            }

            @include media-breakpoint-up(lg) {
                max-width: 530px;
            }
        }

        & > a {
            transition: all .3s ease !important;

            @include media-breakpoint-up(lg) {
                min-width: 150px;
            }
        }
    }

    &__articles {
        display: grid;
        grid-gap: 24px;

        @include media-breakpoint-only(md) {
            grid-gap: 45px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 'article-1 article-1'
            'article-2 article-3' 'article-4 article-5';
        }

        @include media-breakpoint-up(lg) {
            align-items: start;
            grid-template-columns: 50% 22%;
            grid-template-areas:
                    'article-1 article-2 article-3'
                    'article-1 article-4 article-5';
        }

        &:not(.in-view) .news__article {
            opacity: 0;
            transform: scale(0);
        }

        &.in-view .news__article {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__article {
        transition: {
            property: transform, opacity;
            duration: .8s;
            timing-function: ease;
        }

        @include media-breakpoint-up(lg) {
            &:not(:first-child) {
                img {
                    max-height: 13vw;
                }

                figcaption a p {
                    max-width: 214px;
                }
            }
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                transition-delay: #{$i * 0.2}s;

                @include media-breakpoint-up(md) {
                    grid-area: article-#{$i};
                }

                figcaption > p {
                    animation: flicker #{$i * 0.8s} infinite alternate;
                }
            }
        }

        .link {
            display: block;
        }

        & > .link {
            border-radius: 50px;
            overflow: hidden;
            position: relative;

            &::before, &::after {
                opacity: 0;
                transition: all .5s;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                background-color: rgba($black, 0.5);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                z-index: 1;
            }

            &::after {
                content: 'READ MORE';
                width: 100%;
                color: $primary;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.7) rotate(45deg);
                text-align: center;
                letter-spacing: 0;
                -webkit-box-reflect: below -4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(17%, transparent), to(rgba($white, 0.33)));
                z-index: 2;
            }

            &:hover {
                &::before,
                &::after {
                    opacity: 1;
                }

                &::after {
                    letter-spacing: 5px;
                    transform: translate(-50%, -50%) scale(1) rotate(0);
                }

                img {
                    transform: scale(1.4) rotate(20deg);
                }
            }

            span, img {
                width: 100%;
            }

            img {
                transform: scale(1) rotate(0);
                transition: transform .5s;
            }
        }

        figcaption {
            margin-top: 20px;

            @include media-breakpoint-up(lg) {
                margin-top: 35px;
            }

            & > p {
                color: $primary;
                margin-bottom: 10px;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 20px;
                }
            }

            a {
                text-transform: capitalize;

                p {
                    color: currentColor;
                }
            }
        }
    }
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 10px $primary,
        0 0 20px $primary,
        0 0 40px $primary, 0 0 80px $primary, 0 0 120px $primary;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}