@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-Regular.woff') format('woff'),
    url('../../fonts/Orbitron-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-Medium.woff') format('woff'),
    url('../../fonts/Orbitron-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: block;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-Bold.woff') format('woff'),
    url('../../fonts/Orbitron-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: block;
}