*::selection {
    color: $secondary;
    background-color: $gray-300;
}

main {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.fade-reveal {
    @for $i from 1 through 4 {
        & > *:nth-child(#{$i}) {
            transition: opacity 1s ease #{$i * 0.2s};
        }
    }

    &:not(.in-view) > * {
        opacity: 0;
    }

    &.in-view > * {
        opacity: 1;
    }
}

.container {
    @include media-breakpoint-up(lg) {
        margin: 0 auto;
    }

    @include media-breakpoint-between(lg, xl) {
        max-width: 95%;
    }

    @include media-breakpoint-between(lg, xxl) {
        padding: 0 25px;
    }

    @include media-breakpoint-up(xl) {
        max-width: 90%;
    }
}

.object {
    &-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-contain {
        object-fit: contain;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// Extends
%full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%align-center {
    display: flex;
    align-items: center;
}

%justify-center {
    display: flex;
    justify-content: center;
}

%input-reset {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

%textarea-reset {
    border: none;
    background-color: transparent;
    resize: none;
}