// theme breakpoint
$media-break-points: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
) !default;

$white: #fff !default;
$black: #000 !default;

// Main Colors
$gray-100: #AAAAAB 	!default;
$gray-200: #919299 	!default;
$blue-300: #56597A 	!default;
$pink-300: #F78BB6 	!default;

$primary: $blue-300;
$secondary: $gray-200;
$tertiary: $pink-300;

$colors: (
	'primary': $primary,
	'secondary': $secondary,
	'tertiary': $tertiary,
	'white': $white,
	'black': $black,
) !default;

$bodyText: $black;

$font-family-primary: 'Circular Std', sans-serif !default;
$font-family-secondary: 'Proxima Nova', sans-serif !default;

$body-font: $font-family-primary;

$base-font-size: 16px;
$base-font-size-m: 16px;
$base-line-height: normal;
$base-letter-spacing: normal;

$base-radius: 4px;

$extra-large-font: 160px !default;
$extra-large-font-m: 72px !default;
$h1-font-size: 65px !default;
$h1-font-size-m: 42px !default;
$h2-font-size: 52px !default;
$h2-font-size-m: 26px !default;
$h3-font-size: 45px !default;
$h3-font-size-m: 32px !default;
$h4-font-size: 20px !default;