// theme breakpoint
$media-break-points: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
) !default;

$white: #fff !default;
$black: #000 !default;

// Main Colors
$gray-100: #5F5F5F 	!default;
$gray-200: #919299 	!default;
$gray-800: #313131 	!default;

$primary: $gray-800;
$secondary: $gray-200;
$tertiary: $gray-100;

$colors: (
	'primary': $primary,
	'secondary': $secondary,
	'tertiary': $tertiary,
	'white': $white,
	'black': $black,
) !default;

$bodyText: $black;

$font-family-primary: 'Circular Std', sans-serif !default;

$body-font: $font-family-primary;

$base-font-size: 16px;
$base-font-size-m: 16px;
$base-line-height: normal;
$base-letter-spacing: normal;

$h1-font-size: 100px !default;
$h1-font-size-m: 42px !default;
$h2-font-size: 65px !default;
$h2-font-size-m: 30px !default;
$h3-font-size: 45px !default;
$h3-font-size-m: 32px !default;
$h4-font-size: 22px !default;
$h4-font-size-m: 16px !default;
$h5-font-size: 20px !default;
$h5-font-size-m: 16px !default;