// theme breakpoint
$media-break-points: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
) !default;

$white: #fff !default;
$black: #000 !default;

// Main Colors
$blue-500: 		#57B8FF 	!default;
$yellow-400: 	#FDD04A 	!default;
$gray-700:  	#3B3D46 	!default;
$gray-800: 		#383D45 	!default;

$primary: $blue-500;
$secondary: $yellow-400;
$tertiary: $gray-800;

$colors: (
	'primary': $primary,
	'secondary': $secondary,
	'tertiary': $tertiary,
	'white': $white,
	'black': $black,
) !default;

$bodyText: $black;

$font-family-primary: 'Orbitron', sans-serif !default;

$body-font: $font-family-primary;

$base-font-size: 16px;
$base-font-size-m: 16px;
$base-line-height: normal;
$base-letter-spacing: normal;

$h1-font-size: 100px !default;
$h1-font-size-m: 42px !default;
$h2-font-size: 65px !default;
$h2-font-size-m: 30px !default;
$h3-font-size: 45px !default;
$h3-font-size-m: 32px !default;
$h4-font-size: 22px !default;
$h4-font-size-m: 16px !default;
$h5-font-size: 20px !default;
$h5-font-size-m: 16px !default;