{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2
      }
    ],
    "no-unused-vars": "error"
  }
}
