.btn {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 15px;
    @extend %full-center;
    transition: all .4s ease;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
    }

    &-solid {
        &-primary {
        }

        &-secondary {
            color: $white;
            border: 1px solid $white;
            padding: 15px;
            background-color: transparent;

            &:hover {
                background-color: $secondary;
                border-color: $secondary;
            }
        }
    }

    &-reset {
        background-color: transparent;
        padding: 0;
        border: none;
    }
}

.link {
    @extend .btn;
    color: $white;

    &:hover {
        color: $secondary;
    }

    &-solid {
        &-primary {
            @extend .btn-solid-primary;
        }

        &-secondary {
            @extend .btn-solid-secondary;
        }
    }

    &-primary {

    }
}