.underline {
    display: inline-block;
    font-size: inherit;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 1.3s ease;
        transform: scaleX(0);
        opacity: 0;
        transform-origin: left;
        pointer-events: none;
    }

    &-yellow::after {
        background-image: url('../../svg/yellow-line.svg');
        transform: scaleX(1);
        opacity: 1;
    }

    &-blue::after {
        background-image: url('../../svg/blue-line.svg');
        transform: scaleX(1);
        opacity: 1;
    }
}