.video {
    &-container {
        position: relative;
        overflow: hidden;

        video {
            &::-webkit-media-controls-enclosure,
            &::-webkit-media-controls {
                display: none !important;
            }
        }
    }

    &-playback {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background-color: rgba($white, 0.75);
        @include center(both);
        z-index: 1;
        border: none;
        padding: 0;

        &::before,
        &::after {
            content: '';
            width: 105px;
            height: 105px;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: .4s ease;
        }

        &::before {
            background-color: rgba($white, 0.85);
            transform: translate(-50%, -50%) scale(0.95);
            border-radius: 50%;
        }

        &::after {
            background-position: center;
            background-repeat: no-repeat;
            z-index: 2;
        }

        &:hover::before {
            transform: translate(-50%, -50%) scale(1);
        }

        &:not(.playing) {
            &::after {
                background-image: url('../../svg/play-icon.svg');
                transform: translate(-47%, -50%) scale(1.1);
            }

            &:hover::after {
                transform: translate(-47%, -50%) scale(0.8);
            }
        }

        &.playing {
            opacity: 0;

            &::after {
                background-image: url('../../svg/pause-icon.svg');
                transform: translate(-50%, -50%) scale(1);
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &-controls {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: min(100% - 15px, 90%);
        padding: 20px 0;
        bottom: -20px;
        left: 20px;
        overflow: hidden;
        transition: bottom ease .4s;
        user-select: none;

        @include media-breakpoint-down(lg) {
            left: 10px;
        }

        &:hover {
            bottom: -8px;

            .video-buttons {
                transform: translateY(0);
            }
        }

        .progress {
            position: relative;
            width: min(100% - 10px, 75%);

            @include media-breakpoint-down(lg) {
                width: min(100% - 10px, 65%);
            }

            input[type="range"] {
                position: absolute;
                top: -2px;
                -webkit-appearance: none;
                width: 100%;
                height: 5px;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 5px;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: $secondary;
                    cursor: pointer;
                    box-shadow: 0 0 2px 0 #555555;
                    transition: background .3s ease-in-out;
                }

                &::-webkit-slider-runnable-track {
                    -webkit-appearance: none;
                    box-shadow: none;
                    border: none;
                }
            }

            .bar {
                display: block;
                background-color: $secondary;
                height: 5px;
                position: relative;
                border-radius: 10px;
                pointer-events: none;
            }
        }

        .timeline {
            font-size: 12px;

            @include media-breakpoint-down(lg) {
                font-size: 2vw;
            }
        }
    }

    &-duration,
    &-buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-buttons {
        margin-top: 10px;
        transform: translateY(100%);
        transition: transform ease .4s;

        input {
            display: none;

            &:not(:checked) + label {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.675 1.01567C18.7031 2.66567 20 5.1813 20 8.00005C20 10.8188 18.7031 13.3375 16.675 14.9844C16.3531 15.2469 15.8812 15.1969 15.6187 14.875C15.3562 14.5532 15.4062 14.0813 15.7281 13.8188C17.4219 12.4438 18.5 10.35 18.5 8.00005C18.5 5.65005 17.4219 3.5563 15.7281 2.17817C15.4062 1.91567 15.3594 1.4438 15.6187 1.12192C15.8781 0.800046 16.3531 0.753171 16.675 1.01255V1.01567ZM14.7844 3.3438C16.1344 4.4438 17 6.12192 17 8.00005C17 9.87817 16.1344 11.5563 14.7844 12.6563C14.4625 12.9188 13.9906 12.8688 13.7281 12.5469C13.4656 12.225 13.5156 11.7532 13.8375 11.4907C14.8531 10.6657 15.5 9.40942 15.5 8.00005C15.5 6.59067 14.8531 5.33442 13.8375 4.5063C13.5156 4.2438 13.4687 3.77192 13.7281 3.45005C13.9875 3.12817 14.4625 3.0813 14.7844 3.34067V3.3438ZM12.8938 5.67192C13.5656 6.22192 14 7.05942 14 8.00005C14 8.94067 13.5656 9.77817 12.8938 10.3282C12.5719 10.5907 12.1 10.5407 11.8375 10.2188C11.575 9.89692 11.625 9.42505 11.9469 9.16255C12.2844 8.88755 12.5 8.4688 12.5 8.00005C12.5 7.5313 12.2844 7.11255 11.9469 6.83442C11.625 6.57192 11.5781 6.10005 11.8375 5.77817C12.0969 5.4563 12.5719 5.40942 12.8938 5.6688V5.67192ZM9.40938 1.08755C9.76875 1.25005 10 1.6063 10 2.00005V14C10 14.3938 9.76875 14.75 9.40938 14.9125C9.05 15.075 8.62813 15.0094 8.33438 14.7469L4.11875 11H2C0.896875 11 0 10.1032 0 9.00005V7.00005C0 5.89692 0.896875 5.00005 2 5.00005H4.11875L8.33438 1.25317C8.62813 0.990671 9.05 0.928171 9.40938 1.08755Z' fill='%2357B8FF'/%3E%3C/svg%3E");
            }

            &:checked + label {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4549 1.20837C10.8542 1.38893 11.1111 1.78476 11.1111 2.22226V15.5556C11.1111 15.9931 10.8542 16.3889 10.4549 16.5695C10.0556 16.75 9.58681 16.6771 9.26042 16.3855L4.57639 12.2223H2.22222C0.996528 12.2223 0 11.2257 0 10V7.77782C0 6.55212 0.996528 5.5556 2.22222 5.5556H4.57639L9.26042 1.3924C9.58681 1.10074 10.0556 1.03129 10.4549 1.20837ZM14.7569 5.79865L16.6667 7.70837L18.5764 5.79865C18.9028 5.47226 19.4306 5.47226 19.7535 5.79865C20.0764 6.12504 20.0799 6.65282 19.7535 6.97574L17.8438 8.88546L19.7535 10.7952C20.0799 11.1216 20.0799 11.6493 19.7535 11.9723C19.4271 12.2952 18.8993 12.2987 18.5764 11.9723L16.6667 10.0625L14.7569 11.9723C14.4306 12.2987 13.9028 12.2987 13.5799 11.9723C13.2569 11.6459 13.2535 11.1181 13.5799 10.7952L15.4896 8.88546L13.5799 6.97574C13.2535 6.64935 13.2535 6.12157 13.5799 5.79865C13.9063 5.47574 14.434 5.47226 14.7569 5.79865Z' fill='%2357B8FF'/%3E%3C/svg%3E");
            }
        }

        label {
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            margin-left: 20px;
        }
    }

    &-forwards {
        display: flex;
        align-items: center;

        .backwards,
        .forwards {
            display: block;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-right: 20px;
        }

        .backwards {
            background-image: url('../../svg/backward-icon.svg');
        }

        .forwards {
            background-image: url('../../svg/forward-icon.svg');
        }
    }

    &-expands {
        .fullscreen {
            width: 20px;
            height: 23px;
            cursor: pointer;
            background-size: 20px 23px;
            background-repeat: no-repeat;
            background-image: url('../../svg/fullscreen-icon.svg');
        }
    }
}