.video {
    &-container {
        position: relative;
        overflow: hidden;

        video {
            &::-webkit-media-controls-enclosure,
            &::-webkit-media-controls {
                display:none !important;
            }
        }
    }

    &-playback {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background-color: rgba($white, 0.75);
        @include center(both);
        z-index: 1;
        border: none;
        padding: 0;

        &::before,
        &::after {
            content: '';
            width: 105px;
            height: 105px;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: .4s ease;
        }

        &::before {
            background-color: rgba($white, 0.85);
            transform: translate(-50%, -50%) scale(0.95);
            border-radius: 50%;
        }

        &::after {
            background-position: center;
            background-repeat: no-repeat;
            z-index: 2;
        }

        &:hover::before {
            transform: translate(-50%, -50%) scale(1);
        }

        &:not(.playing) {
            &::after {
                background-image: url('../../svg/play-icon.svg');
                transform: translate(-47%, -50%) scale(1.1);
            }

            &:hover::after {
                transform: translate(-47%, -50%) scale(0.8);
            }
        }

        &.playing {
            opacity: 0;

            &::after {
                background-image: url('../../svg/pause-icon.svg');
                transform: translate(-50%, -50%) scale(1);
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &-controls {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: min(100% - 15px, 90%);
        padding: 20px 0;
        bottom: -20px;
        left: 20px;
        overflow: hidden;
        transition: bottom ease .4s;
        user-select: none;

        @include media-breakpoint-down(lg) {
            left: 10px;
        }

        &:hover {
            bottom: -8px;

            .video-buttons {
                transform: translateY(0);
            }
        }

        .progress {
            position: relative;
            width: min(100% - 10px, 75%);

            @include media-breakpoint-down(lg) {
                width: min(100% - 10px, 65%);
            }

            input[type="range"] {
                position: absolute;
                top: -2px;
                -webkit-appearance: none;
                width: 100%;
                height: 5px;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 5px;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: $secondary;
                    cursor: pointer;
                    box-shadow: 0 0 2px 0 #555;
                    transition: background .3s ease-in-out;
                }

                &::-webkit-slider-runnable-track  {
                    -webkit-appearance: none;
                    box-shadow: none;
                    border: none;
                }
            }

            .bar {
                display: block;
                background-color: $secondary;
                height: 5px;
                position: relative;
                border-radius: 10px;
                pointer-events: none;
            }
        }

        .timeline {
            font-size: 12px;

            @include media-breakpoint-down(lg) {
                font-size: 2vw;
            }
        }
    }

    &-duration,
    &-buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-buttons {
        margin-top: 10px;
        transform: translateY(100%);
        transition: transform ease .4s;
    }

    &-forwards {
        display: flex;
        align-items: center;

        .backwards,
        .forwards {
            display: block;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-right: 20px;
        }

        .backwards {
            background-image: url('../../svg/backward-icon.svg');
        }

        .forwards {
            background-image: url('../../svg/forward-icon.svg');
        }
    }

    &-expands {
        .fullscreen {
            width: 20px;
            height: 23px;
            cursor: pointer;
            background-size: 20px 23px;
            background-repeat: no-repeat;
            background-image: url('../../svg/fullscreen-icon.svg');
        }
    }
}